<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OplogMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_OPLOG(
			LOG_TYPE,	
			LOG_CONTENT,	
			MODULE_LOG,	
			OPERATOR,	
			OPERATOR_ROLE,	
			USERNAME,	
			CREATE_DATE,	
			OPLOG_ID
		) values (
			#{LOG_TYPE},	
			#{LOG_CONTENT},	
			#{MODULE_LOG},	
			#{OPERATOR},	
			#{OPERATOR_ROLE},	
			#{USERNAME},	
			#{CREATE_DATE},	
			#{OPLOG_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_OPLOG
		where 
			OPLOG_ID = #{OPLOG_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_OPLOG
			set 
				LOG_TYPE = #{LOG_TYPE},
				LOG_CONTENT = #{LOG_CONTENT},
				MODULE_LOG = #{MODULE_LOG},
				OPERATOR = #{OPERATOR},
				OPERATOR_ROLE = #{OPERATOR_ROLE},
				USERNAME = #{USERNAME},
				CREATE_DATE = #{CREATE_DATE},
			OPLOG_ID = OPLOG_ID
			where 
				OPLOG_ID = #{OPLOG_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			LOG_TYPE,	
			LOG_CONTENT,	
			MODULE_LOG,	
			OPERATOR,	
			OPERATOR_ROLE,	
			USERNAME,	
			CREATE_DATE,	
			OPLOG_ID
		from 
			TB_OPLOG
		where 
			OPLOG_ID = #{OPLOG_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.LOG_TYPE,	
				a.LOG_CONTENT,	
				a.MODULE_LOG,	
				a.OPERATOR,	
				a.OPERATOR_ROLE,	
				a.USERNAME,	
				a.CREATE_DATE,	
				a.OPLOG_ID
		from 
				TB_OPLOG a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.LOG_TYPE,	
				a.LOG_CONTENT,	
				a.MODULE_LOG,	
				a.OPERATOR,	
				a.OPERATOR_ROLE,	
				a.USERNAME,	
				a.CREATE_DATE,	
				a.OPLOG_ID
		from 
				TB_OPLOG a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_OPLOG
		where 
			OPLOG_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!--按时间查询日志-->
	<select id="queryByDate" parameterType="page" resultType="pd">
		select
		a.LOG_TYPE,
		a.LOG_CONTENT,
		a.MODULE_LOG,
		a.OPERATOR,
		a.OPERATOR_ROLE,
		a.USERNAME,
		a.CREATE_DATE,
		a.OPLOG_ID
		from
		TB_OPLOG a
<!--	where a.CREATE_DATE <![CDATA[>=]]  #{END_DATE} AND   #{START_DATE} <![CDATA[>=]] a.CREATE_DATE -->
	<!--select * from t_user where user_name like '%'+#{search_name}+'%'-->
	where
		<if test="pd.startDate!=null and pd.startDate!='' and pd.endDate!=null and pd.endDate!=''">
		a.CREATE_DATE between   #{pd.startDate} AND  #{pd.endDate} AND
		</if>
		 1=1
		<if test="pd.field1 !=null and pd.field1!=''">
			AND (
			a.LOG_TYPE LIKE ('%' + #{pd.field1} + '%')
			or
			a.LOG_CONTENT LIKE ('%' + #{pd.field1} + '%')
			or
			a.MODULE_LOG LIKE ('%' + #{pd.field1} + '%')
			or
			a.OPERATOR LIKE ('%' + #{pd.field1} + '%')
			or
			a.OPERATOR_ROLE LIKE ('%' + #{pd.field1} + '%')
			or
			a.USERNAME LIKE ('%' + #{pd.field1} + '%')
			)
		</if>
	</select>



	
</mapper>