<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserFollowVehicleMapper">


	<!--新增关注-->
	<insert id="saveFollow" parameterType="pd">
		insert into user_follow_vehicle (
			 username,
			plate_number,
			message_id,
			is_pay,
			create_date,
			last_modify_date,
			is_delete,id

		) values (
		#{username},
		#{plate_number},
		#{message_id},
		#{is_pay},
		#{create_date},
		#{last_modify_date},
		#{is_delete},
		#{id}
		)
	</insert>
	
	<!-- 查找关注 -->
	<select id="findFollow" parameterType="pd" resultType="pd">
		select 
			username,
			plate_number,
			message_id,
			is_pay,
			create_date,
			last_modify_date,
			is_delete

		from 
			user_follow_vehicle
		where 
			username = #{username}
 		<if test="plate_number != null and plate_number != ''">
			AND	plate_number=#{plate_number}
		</if>
			AND is_delete != 1
	</select>

	<!--查询关注并且付费成功的-->
	<select id="findFollowIsPay" parameterType="pd" resultType="pd">
		select
		username,
		plate_number,
		message_id,
		is_pay,
		create_date,
		last_modify_date,
		is_delete

		from
		user_follow_vehicle
		where
		username = #{username}
		AND is_delete != 1
		AND is_pay = 1
		<if test="plate_number != null and plate_number != ''">
		AND	plate_number=#{plate_number}
		</if>
		<if test="message_id != null and message_id != ''">
			AND	message_id=#{message_id}
		</if>
	</select>

	<update id="updateExpTime">
		update user_follow_vehicle set is_pay = 0 where id in
		(select ufv.id from tb_count_exp_time tcet left join user_follow_vehicle ufv
		on tcet.plate_number=ufv.plate_number and tcet.USERNAME=ufv.username
		where tcet.EXP_DATE  &lt;  GETDATE());
	</update>


</mapper>