<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMaintainPlanVehicleMapper">


	<!--新增维修计划-->
	<insert id="saveMaintainPlan" parameterType="pd">
		insert into user_maintainplan_vehicle (
		id,
			 username,
			plate_number,
			plan_time,
			remark,
			create_date
		) values (
			#{id},
		#{username},
		#{plate_number},
		#{plan_time},
		#{remark},
		#{create_date}
 		)
	</insert>
	
	<!-- 查找车辆维修计划列表 -->
	<select id="findMaintainPlan" parameterType="pd" resultType="pd">
		select
		id,
		username,
		plate_number,
		plan_time,
		remark,
		create_date

		from
		user_maintainplan_vehicle
		where
		<if test="username != null and username != ''">
			username = #{username}
		</if>
 		<if test="plate_number != null and plate_number != ''">
			AND	plate_number=#{plate_number}
		</if>

	</select>

	<!-- 批量删车辆计划-->
	<delete id="deleteAllMaintainPlan" parameterType="String">
		delete from user_maintainplan_vehicle
		where
		USER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteMaintainPlan" parameterType="pd">
		delete from user_maintainplan_vehicle
		where
		id = #{id}
	</delete>

	<!--日常维护记录列表-->
	<select id="queryRoutineMaintenanceRecords" parameterType="pd" resultType="pd">
		select
		id,
		username,
		plate_number,
		vehicle_color,
		maintain_time,
		maintain_project,
		remark,
		maintain_content
		from user_routine_maintain_vehicle
		where
		1=1
		<if test="username != null and username != ''">
		and username = #{username}
		</if>
		<if test="id != null and id != ''">
		and	id = #{id}
		</if>
		<if test="plate_number != null and plate_number != ''">
			and	plate_number = #{plate_number}
		</if>

	</select >


	<!--日常维护记录新增-->
	<insert id="saveRoutineMaintenanceRecord" parameterType="pd" >
		insert into user_routine_maintain_vehicle (
			id,
			 username,
			plate_number,
			vehicle_color,
			maintain_time,
			maintain_project,
			remark,
			maintain_content
		) values (
			#{id},
		#{username},
		#{plate_number},
		#{vehicle_color},
		#{maintain_time},
		#{maintain_project},
		#{remark},
		#{maintain_content}
 		)
	</insert>


	<!--日常维护记录修改-->
	<update id="editRoutineMaintenanceRecord" parameterType="pd">
		update  user_routine_maintain_vehicle
		set
		maintain_time = #{maintain_time},
		maintain_project = #{maintain_project},
		maintain_content = #{maintain_content},
		remark = #{remark}
				where
		id = #{id}
	</update>

	<!--删除日常维护记录-->
	<delete id="deleteRoutineMaintenanceRecord" parameterType="pd">
		delete from user_routine_maintain_vehicle
		where
		id = #{id}  and  username=#{username}
	</delete>




</mapper>